APP_NAME=VPSeccret

BACKEND_PORT=3000
FRONTEND_PORT=5173

DATABASE_PATH=./database/vpseccret.sqlite

DEFAULT_SSH_PORT=22
DEFAULT_BASE_PATH=/var/www

MAX_UPLOAD_SIZE_MB=100
TEMP_FOLDER=./temp
UPLOADS_FOLDER=./uploads